<h1 style='margin-top:50px;font-size:2rem'>Our official pizza directory</h1>

<% @restaurants.each do |restaurant| %>
  <h1 style='font-size:1.5rem;margin-top:50px'>
    <%= restaurant.name %> </h1>
    <ul>
      <% restaurant.pizzas.each do |pizza| %>
        <li><%= link_to pizza.name, pizza %> from <%= pizza.restaurant.name %>
        <p>Topping: <%= pizza.ingredients %></p></li>
      <% end %>
    </ul>
<% end %>
<hr>
<h3> <%= link_to "Create a new pizza", new_pizza_path %> </h3>
<br>
